<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon"href=".\photos\download1.jpg" type="image/X-icon"></a>
    <script src="/public/css/image.js"></script>
</head>
<body>
    <!-- <h1>Welcome to static Web</h1> -->
    <div class ="topNav">
        <a href="/" class="A1" id="A11">ANSHIKA'S WEATHER API</a>
        <a href="/" class="A1"> HOME </a>
        <a href="/weather"class="A1"> WEATHER </a>
        <a href="/about" style="float: right;" class="A2"> ABOUT </a>
    </div>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <span id="abc" >
        <center>
            <img src=".\photos\cloud.jpg" alt="cloud animated picture" class="img1" >
        </center>
    </span>

    <span style="text-align: center;">
        <h3><p> Welcome to <i>weather</i> App</p></h3>
        <h1>Get the latest Weather Info of Your City</h1>
    </span>
    <br/>
    <center><a href="/weather" ><button>Check Now</button></a></center>


    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <footer>
        <p>Created by ANSHIKA GUPTA </p>
    </footer>
</body>
</html>
